@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader, lang: Lang)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.inputFieldConstructor.f) }

@main(title = "Reset Password", leanUser= null) {

	<div class="panel panel-success" id="reset-password-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Provide new password</h3>
		</div>
		@request.flash.get("error").map { msg =>
	        <div class="alert alert-error">
	            @Messages(msg)
	        </div>
	    }
		<div class="panel-body">
			<form class="form-horizontal" role="form" action="/reset/@token" method="POST" autocomplete= "off">
				<fieldset>
	            @helper.inputPassword(
		            resetForm("password.password1"),
		            'placeholder -> "Password",
		            'class -> "form-control"
	            )
	
	            @helper.inputPassword(
		            resetForm("password.password2"),
		            'placeholder -> "Confirm Password",
		            '_error -> resetForm.error("password"),
		            'class -> "form-control"
	            )
	
	            <div class="form-actions">
	                <button type="submit" class="btn btn-success">Set Password</button>
	            </div>
	
		        </fieldset>
		    </form>
		</div>
	</div>
}

